{% extends 'base.html' %}
{% block content %}
{% load static %}   


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="" method="POST" role="form">
                {% csrf_token %}
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nome :</label>
                            {{ form.name }}
                        </div>  
                        <div class="form-group">
                            <label for="prontuario">
                                Prontuário: </label>
                            {{ form.prontuario }}
                        </div>
                        <div class="form-group">
                            <label for="responsavel">
                                Nome do Responsavel :</label>
                            {{ form.responsavel }}
                        </div>
                        <div class="form-group" >
                            <label for="idade">
                                Data de Nascimento :</label>
                            {{ form.idade }}
                        </div>
                        <div class="form-group" >
                            <label for="cep" >
                                CEP :</label>
                            {{ form.cep }}
                        </div>
                        <div class="form-group">
                            <label for="bairro">
                                Bairro :</label>
                            {{ form.bairro }}
                        </div>
                        <div class="form-group">
                            <label for="rua">
                                Endereço :</label>
                            {{ form.rua }}
                        </div>
                        <div class="form-group">
                            <label for="cidade">
                                Cidade :</label>
                            {{ form.cidade }}
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                Telefone :</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email :</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="cpf">
                                CPF :</label>
                            {{ form.cpf }}
                        </div>
                       

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="message">
                                Observações: </label>
                            {{ form.message }}
                        </div>
                        
                       
                        <div class="form-group">
                            <label for="foto">
                                Insera sua foto: </label>
                            
                                {{ form.foto }}
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Salvar</button>
                            </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
</body>
</html>
{% endblock %}