<DOCTYPE html>
<html>
<head>
<title>Django Forms</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">Contact us <small>Feel free to contact us</small></h1>
    <p style="font-weight:bold;color:red;">Django Model Forms - How to use bootstrap in django forms</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="" method="POST" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Nome :</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="responsavel">
                                Nome do Responsavel :</label>
                            {{ form.responsavel }}
                        </div>
                        <div class="form-group" >
                            <label for="idade">
                                Data de Nascimento : &nbsp;&nbsp; </label>
                            <input type="date">
                            {{ form.idade }}
                        </div>
                        <div class="form-group">
                            <label for="address">
                                Endereço :</label>
                            {{ form.address }}
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email :</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                {{ form.email }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Observações</label>
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
</body>
</html>