{% extends 'base.html' %}
{% block contentlista %}
{% load static %}   




<div class="container">
        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="../cadastro"><button type="button"  class="btn btn-primary  btn-sm" >Cadastrar Paciente</button></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display responsive nowrap text-center" id="my_table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><center>Nome</center></th>
                            <th><center>Responsavel</center></th>
                            <th><center>Prontuário</center></th>
                            <th><center>Questionário</center></th>
                            <th><center>Atualizar</center></th>
                            <th><center>Excluir</center></th>
                            <th><center>Imprimir</center></th>
                    </thead>
                    <tbody>
                        {% for p in paciente %}
                        <tr>
                            <td> {{ p.name }}</td>
                            <td> {{ p.responsavel }}</td>
                            <td> {{ p.prontuario }}</td>
                            <td> <a href="../cadastro/{{p.id}}"><button type="button"  class="btn btn-primary  btn-sm" >Questionário</button></a></td>
                            <td> <a href="../../atualiza/{{p.id}}"><button type="button"  class="btn btn-success  btn-sm" >Atualizar</button></a> </td>
                            <td> <a href="../cadastro/exclui/{{p.id}}"><button type="button"  class="btn btn-danger  btn-sm" >Excluir</button></a> </td>
                            <td> <a href="../imprimir/{{p.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
  <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
</svg></a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
            </div>
            

{% endblock %}