{% extends 'base.html' %}
{% block contentlista %}
{% load static %}   


<div class="container">
        <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a href="../cadastro"><button type="button"  class="btn btn-primary  btn-sm" >Cadastrar Paciente</button></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display responsive nowrap text-center" id="my_table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><center>Nome</center></th>
                            <th><center>Responsavel</center></th>
                            <th><center>Prontuário</center></th>
                            <th><center>Questionário</center></th>
                            <th><center>Atualizar</center></th>
                            <th><center>Excluir</center></th>
                    </thead>
                    <tbody>
                        {% for p in paciente %}
                        <tr>
                            <td> {{ p.name }}</td>
                            <td> {{ p.responsavel }}</td>
                            <td> {{ p.prontuario }}</td>
                            <td> <a href="../cadastro/{{p.id}}"><button type="button"  class="btn btn-primary  btn-sm" >Questionário</button></a></td>
                            <td> <a href="../../atualiza/{{p.id}}"><button type="button"  class="btn btn-success  btn-sm" >Atualizar</button></a> </td>
                            <td> <a href="../cadastro/exclui/{{p.id}}"><button type="button"  class="btn btn-danger  btn-sm" >Excluir</button></a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
            </div>
            

{% endblock %}