{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>

<div class="container">

  <form method="POST" action="">
  {% csrf_token %}

    <div class="col-12"></div>
      
      <fieldset class="row mb-3">

        <h1>M-CHAT</h1>
        
        <div class="row">
          <div class="col">
            <br><br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <label for="inputresp" class="form-label">Responsável: </label>
            <input type="text" class="form-label" value="{{ paciente.responsavel }}">
          </div>
        </div>
        </br></br></br>
        <div class="row">
          <div class="col">
            1. Seu filho gosta de se balançar, de pular no seu joelho, etc?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="um" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="um" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
        </div>
        </div>
        
        <div class="row">
          <div class="col">
            2. Seu filho tem interesse por outras crianças?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="dois" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="dois" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col">
            3. Seu filho gosta de subir em coisas, como escadas ou móveis?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="tres" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="tres" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            4. Seu filho gosta de brincar de esconder e mostrar o rosto ou de esconde-esconde?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="quatro" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="quatro" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            5. Seu filho já brincou de faz-de-conta, como, por exemplo, fazer de conta que está falando 
            no telefone ou que está cuidando da boneca, ou qualquer outra brincadeira de faz-de-conta?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="cinco" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="cinco" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            6. Seu filho já usou o dedo indicador dele para apontar, para pedir alguma coisa?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="seis" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="seis" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            7. Seu filho já usou o dedo indicador dele para apontar, para indicar interesse em algo?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="sete" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="sete" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            8. Seu filho consegue brincar de forma correta com brinquedos pequenos (ex. carros ou blocos), 
            sem apenas colocar na boca, remexer no brinquedo ou deixar o brinquedo cair?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="oito" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="oito" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            9. O seu filho alguma vez trouxe objetos para você (pais) para lhe mostrar este objeto?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="nove" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="nove" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            10. O seu filho olha para você no olho por mais de um segundo ou dois?<br>
           <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="dez" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="dez" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            11. O seu filho já pareceu muito sensível ao barulho (ex. tapando os ouvidos)?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="onze" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="onze" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            12. O seu filho sorri em resposta ao seu rosto ou ao seu sorriso?<br>
            <div class="form-group">
            <div>
                            <input type="radio" id="Escolhaum"
                            name="doze" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="doze" value="Não">
                            <label for="contactChoice2">Não</label>
            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            13. O seu filho imita você? (ex. você faz expressões/caretas e seu filho imita)?<br>
           <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="treze" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="treze" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            14. O seu filho responde quando você chama ele pelo nome?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="quatorze" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="quatorze" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div> 
          </div>
        </div>

        <div class="row">
          <div class="col">
            15. Se você aponta um brinquedo do outro lado do cômodo, o seu filho olha para ele?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="quinze" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="quinze" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            16. Seu filho já sabe andar?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="desesseis" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="desesseis" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div> 
          </div>
        </div>

        <div class="row">
          <div class="col">
            17. O seu filho olha para coisas que você está olhando?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="desessete" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="desessete" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>   
          </div>
        </div>
	
        <div class="row">
          <div class="col">
            18. O seu filho faz movimentos estranhos com os dedos perto do rosto dele?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="dezoito" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="dezoito" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            19. O seu filho tenta sua atenção para a atividade dele?<br>
           <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="dezenove" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="dezenove" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>
	
        <div class="row">
          <div class="col">
            20. Você alguma vez já se perguntou se seu filho é surdo?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="vinte" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="vinte" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div> 
          </div>
        </div>

        <div class="row">
          <div class="col">
            21. O seu filho entende o que as pessoas dizem?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="vinteum" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="vinteum" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            22. O seu filho às vezes fica aéreo, “olhando para o nada” ou caminhando sem direção definida?<br>
           <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="vintedois" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="vintedois" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            23. O seu filho olha para o seu rosto para conferir a sua reação quando vê algo estranho?<br>
            <div class="form-group">
                            
                        <div>
                            <input type="radio" id="Escolhaum"
                            name="vintetres" value="Sim">
                            <label for="contactChoice1">Sim</label>

                            <input type="radio" id="Escolhadois"
                            name="vintetres" value="Não">
                            <label for="contactChoice2">Não</label>
                        </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <br><br>
            ₢ 1999 Diana Robins, Deborah Fein e Marianne Barton<br>
            Tradução Milena Pereira Pondé e Mirella Fiuza Losapio<br><br>
            Bibliografia: LOSAPIO, M. F.; PONDÉ, M. P. Tradução para o português da escala M-CHAT para 
            rastreamento precoce de autismo. Revista de Psiquiatria do Rio Grande do Sul, v. 30, 
            p. 229, 2008.
          </div>
        </div>
	
      </fieldset>

  </form>

</div>
{%endblock%}